<h1>What Shift Are You Currently Working?</h1>

<%= form_for :shift, :url => shifts_path do |f| %>


  	<div class="shift_container"
		 <div id="shift">
			  <%= f.submit "Day Shift", :class => "btn btn-info" %>
			  <br>
			  <br>
			  <%= f.submit "Swing Shift", :class => "btn btn-info" %>
			  <br>
			  <br>
			  <%= f.submit "Graveyard Shift", :class => "btn btn-info" %>
			</div>
		</div>

 

<% end %>