<h1>What Shift Are You Currently Working?</h1>

<%= form_for :shift, :url => shifts_path do |f| %>


  
 
  <%= f.submit "Day Shift" %>
  <%= f.submit "Swing Shift" %>
  <%= f.submit "Graveyard Shift" %>
 

<% end %>